## MLP 2

#### A. Datasets
Info on datasets will be the README.md file in the Github repo.

#### B. Data preprocessing

In [10]:
# Library import
import numpy as np
import pandas as pd
from sklearn import preprocessing
from datetime import datetime

In [6]:
# Load the data
# data file is located in folder data
df = pd.read_csv('./../rawdata/kc_house_data.csv')
print(df.head())
print(df.tail())

           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770
3  2487200875  20141209T000000  604000.0         4       3.00         1960
4  1954400510  20150218T000000  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7        1180              0
1      7242     2.0           0     0  ...      7        2170            400
2     10000     1.0           0     0  ...      6         770              0
3      5000     1.0           0     0  ...      7        1050            910
4      8080     1.0           0     0  ...      8        1680              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800

   sqft_lot15
0        5650
1        7639
2        8062
3        5000
4        7503

[5 rows x 21 columns]
               id             date     price  bedrooms  bathrooms  \
21608   263000018  20140521T000000  360000.0         3       2.50
21609  6600060120  20150223T000000  400000.0         4       2.50
21610  1523300141  20140623T000000  402101.0         2       0.75
21611   291310100  20150116T000000  400000.0         3       2.50
21612  1523300157  20141015T000000  325000.0         2       0.75

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
21608         1530      1131     3.0           0     0  ...      8
21609         2310      5813     2.0           0     0  ...      8
21610         1020      1350     2.0           0     0  ...      7
21611         1600      2388     2.0           0     0  ...      8
21612         1020      1076     2.0           0     0  ...      7

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
21608        1530              0      2009             0    98103  47.6993
21609        2310              0      2014             0    98146  47.5107
21610        1020              0      2009             0    98144  47.5944
21611        1600              0      2004             0    98027  47.5345
21612        1020              0      2008             0    98144  47.5941

          long  sqft_living15  sqft_lot15
21608 -122.346           1530        1509
21609 -122.362           1830        7200
21610 -122.299           1020        2007
21611 -122.069           1410        1287
21612 -122.299           1020        1357

[5 rows x 21 columns]

In [31]:
# Check for null values in any of the columns
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
date_time        0
most_recent      0
dtype: int64

Since there are no invalid values, no further data cleaning is needed.

In [14]:
# Create new date_time column with date column cleaned up
df["date_time"] = pd.to_datetime(df["date"])

In [25]:
# Create new most_recent column with most recent year that work has been done
df["most_recent"] = np.nanmax(df[["yr_built", "yr_renovated"]], axis=1)

In [26]:
print(df.head())

           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770
3  2487200875  20141209T000000  604000.0         4       3.00         1960
4  1954400510  20150218T000000  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  sqft_basement  yr_built  \
0      5650     1.0           0     0  ...              0      1955
1      7242     2.0           0     0  ...            400      1951
2     10000     1.0           0     0  ...              0      1933
3      5000     1.0           0     0  ...            910      1965
4      8080     1.0           0     0  ...              0      1987

   yr_renovated  zipcode      lat     long  sqft_living15  sqft_lot15  \
0             0    98178  47.5112 -122.257           1340        5650
1          1991    98125  47.7210 -122.319           1690        7639
2             0    98028  47.7379 -122.233           2720        8062
3             0    98136  47.5208 -122.393           1360        5000
4             0    98074  47.6168 -122.045           1800        7503

   date_time  most_recent
0 2014-10-13         1955
1 2014-12-09         1991
2 2015-02-25         1933
3 2014-12-09         1965
4 2015-02-18         1987

[5 rows x 23 columns]

The 'date_time' column is a modification of the date column to make it easier to visualize the data if we decide to plot another column against the date that a house was sold. The 'most_recent' column is a comparison between the 'yr_built' and 'yr_renovated' columns. This will give us an idea of when a house was most recently worked on and we can use this data to see if when a house was worked on has an effect on the price of a house.

#### C. Exploratory data analysis